footer{
    width: 100%;
    background-color: var(--rDark);
    font-size: 2rem;
    padding: 10px 30px;  
    text-align: center;
}



.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap:20px;
}

.social-icon{
    width: 50px;
}


@media screen and (min-width: 800px) {
    footer{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media screen and (max-width: 650px) {
    footer{
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 1400px) {
   .social-icon{
    width: 40px;
   }
}
@media screen and (max-width: 1000px) {
    .social-icon{
     width: 30px;
    }
 }

