
<footer>

    <section class="copyright">
        <span >&copy; 2024 Captain Neckbeard Comics </span> 
    </section>

    <ul class="socials">
        <li>
            <a href="#" class="">
                <img class="social-icon" src="/assets/socialMediaIcons/instagram-icon.png">
            </a>
        </li>
        <li>
            <a href="#" class="">
                <img class="social-icon" src="/assets/socialMediaIcons/twitter-icon.png">
            </a>
        </li>
        <li>
            <a href="#" class="">
                <img class="social-icon" src="/assets/socialMediaIcons/gmail-icon.png">
            </a>
        </li>
    </ul>


</footer>

