footer{
    width: 100%;
    background-color: var(--rDark);
    font-size: 2rem;
    padding: 10px 30px;  
    text-align: center;
}



.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap:20px;
}

.social-icon{
    width: 25px;
}


@media screen and (min-width: 800px) {
    footer{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media screen and (max-width: 650px) {
    footer{
        font-size: 1.5rem;
    }
}




/* @media screen and (min-width: 620px) {
    footer{
        display: inline-flex;
        justify-content: space-between;
    }

    .copyright{
        display:flex;
    }
    
    .copyright span{
        margin: auto 15px;
    }
}

@media screen and (max-width: 620px) {
    footer{
        font-size: 1.3rem;
    }

} */
