
#backGroundImage{
    width: 100%;
    position: absolute;
    background-color: var(--mainBlack);

}

#content{
    width: 100%;
    height: auto;
    position: absolute;
}

.majorSection{
    position: relative;
    width:80%;
    height: fit-content;
    margin: 100px 10%;

    /* For Troulble Shooting */
    border: .5px solid #c3073f; 
}


