<!-- <div id="content">

    <div class="majorSection">

        <div id='comicOfTheWeekTextSection' class="comicOfTheWeekBlocks">

            <h2 id='comicOfTheWeekTitle' >
                  Placeholder Title
            </h2>
        
            <div id='comicOfTheWeekAbout'>
                <p>
                  Placeholder Desc
                </p>
            </div>
        
        </div>
        
        <div id='comicOfTheWeekComic' class="comicOfTheWeekBlocks">
            <img src="" id='comicImage' >
        </div> 

    </div>
     -->