<div>
    <!-- Comic of the week -->
    <section class="weekly-comic-section">

        <div class="weekly-comic-content content-wrapper">
            <article>
                <h1>Weekly Adventure</h1>
                <hr>
                <p class="">{{recentComic.name}}: {{recentComic.description}}</p>
            </article>
                
            <div class="comic-image">
                <img [src]=[recentComic.filePath]>
            </div>

        </div>
            
        
    </section>

    <section class="content-wrapper about">

    </section>



</div>
    