<div id="content">

    <div class="majorSection">

        <div id='comicOfTheWeekTextSection' class="comicOfTheWeekBlocks">

            <h2 id='comicOfTheWeekTitle' >
                <!-- {{ mostRecentComic.title }} -->
                  Placeholder Title
            </h2>
        
            <div id='comicOfTheWeekAbout'>
                <p>
                <!-- {{ mostRecentComic.description }} -->
                  Placeholder Desc
                </p>
            </div>
        
        </div>
        
        <div id='comicOfTheWeekComic' class="comicOfTheWeekBlocks">
            <img src="" id='comicImage' >
        </div> 

    </div>
    
    <div class="majorSection">

        <!-- <home-about class='majorSection'> </home-about> -->

    </div>

    <p>
        Text
    </p>
    <p>
        Text
    </p>
    <p>
        Text
    </p>
    <p>
        Text
    </p>
    <p>
        Text
    </p>
    <p>
        Text
    </p>

</div>