.weekly-comic{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.weekly-comic h1{
    font-size: 4rem;
}

.weekly-comic p{
    font-size: 2rem;
    margin-top: 10px;
}

.comic-image{
    width: 100%;
    border-radius: 10px;
}