
app-navigation-bar{
  background-color: var(--mainBlack);
  margin: 0;
  max-width: 100%;
  height: fit-content;
}

#backGroundImage{
  width: 100%;
  position: absolute;
  background-color: var(--mainBlack);

  
}


#content{
  width: 100%;
  height: auto;
  position: absolute;
}