
app-navigation-bar{

  z-index: 10;
    width: 100%;
    height: 50px;
    border-bottom: 3px solid var(--mainGrey);
    margin-bottom: 0;
    position: fixed;
    background-color: var(--mainBlack);
    top:0;
    left: 0;
    /* Ensures the that navbar's Items do not cascade */
    min-width:1000px;
}



#backGroundImage{
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  background-color: var(--mainBlack);
  background-size: 100% auto;
  background-repeat: repeat-y;
}


#content{
  width: 100%;
  height: auto;
}

