#navBrand{
    /* font-family: 'IM Fell English', serif; */

}

.navItem{
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1em 1em;

}

.navLink{
    font-family: 'Merriweather', serif;
}

.navItem a{
    text-decoration: none;
    color: var(--rBright);

}


#navSlogan{
    float:right;
    color: var(--rBright);
}