<nav class="navbar">
    
    <div class="nav-item nav-brand">
        <a routerLink="/home">Captain&nbsp;Neckbeard</a>
    </div>

    <ul class="nav-links">

        <li class="nav-item">
            <a routerLink="/library">Library</a>
        </li>

        <li class="nav-item">
            <a> Shop </a>
        </li>

        <li class="nav-item">
            <a> Donate </a>
        </li>

    </ul>
    
    <section class="slogan">
        <span> For you, my Kitten Waifus</span>
    </section>

</nav>