<nav class="navbar content-wrapper">

    <div  class="nav-logo">
        <img src="/assets/CNB-Icon.png" alt="logo">
    </div>
  
    <header class="nav-texts">

        <h1>
            Captain&nbsp;Neckbeard
        </h1>

        <ul class="nav-links">

            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="current-route">Home</a>
            </li>
    
            <li class="nav-item">
                <a routerLink="/library" routerLinkActive="current-route">Library</a>
            </li>
    
            <li class="nav-item" routerLinkActive="current-route">
                <a> Shop </a>
            </li>
    
            <li class="nav-item" routerLinkActive="current-route">
                <a> Donate </a>
            </li>
    
        </ul>
    </header>


</nav>