.navbar{
    font-size: 3rem;
    color: var(--palette-off-white);
    gap: 50px;
}

.nav-logo img {
    width: 300px;
}

.nav-texts{
    margin: auto 0;
}

.nav-texts h1{
    font-size: 2em;
}



.nav-links{
    list-style: none;
    display: inline-flex;
    gap: 15px;
    margin-top: 10px ;
}

.current-route{
    background-color: var(--palette-deep-blue);
    padding: 5px 8px;

    border-radius: 30px;
   
}

a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1500px){
    .navbar{
        font-size: 2.5rem;
    }
    .nav-logo img {
        width: 250px;
    }
}

@media screen and (max-width: 1200px){
    .navbar{
        font-size: 2rem;
    }
    .nav-logo img {
        width: 200px;
    }
}


@media screen and (max-width: 900px){
    .navbar{
        font-size: 1.7rem;
        gap: 25px;
    }
    .nav-logo img {
        width: 150px;
    }
}

@media screen and (max-width: 775px){
    .navbar{
        font-size: 1.5rem;

    }
    .nav-logo img {
        width: 120px;
    }

}


@media screen and (min-width: 601px){
    .navbar{
        display: flex;

    }
  
}

@media screen and (max-width: 600px){
    .navbar {
        justify-content: center;
    }   
    .nav-logo img{
        display: none;
    }
    .nav-texts{
        text-align: center;
    }
  
}

@media screen and (max-width: 425px){
    .navbar{
        font-size: 1.2rem;
    }
}