/* You can add global styles to this file, and also import other style files */
*, *:before, *:after {
    box-sizing: inherit;


    --mainBlack: #1a1a1d;
    --mainGrey: #4e4e50;
    --rDark: #6f2232;
    --rMid: #950740;
    --rBright: #c3073f;

    font-family: "Merriweather", serif;
}

*{
  margin: 0;
  padding: 0;
}

html{
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    font-size: 62.5%; /* Sets the default to 10px so i can use em to multiply easily */
    margin: 0;
}


body {
    background: url("../public/assets/shipSil.png") var(--mainBlack) no-repeat;
    background-size: cover;
}

.content-wrapper{
    margin: 0 auto;
    max-width: 1500px;
    padding: 30px;
}